<!--/*
    Copyright 2017 Adobe Systems Incorporated

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.css @ categories='academyws.base'}"/>

<!--/* Include Context Hub */-->
<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
<div _ngcontent-c0="" class="scrollmenu top-menu transparent" id="nav-bar-out">
	<!---->
	<div _ngcontent-c0="" class="container" id="nav-bar">
		<a _ngcontent-c0="" class="nav-link title push-left active-link" routerlink="overview" routerlinkactive="active-link" href="#">MEMBERSHIP</a>
		<a _ngcontent-c0="" class="nav-link title" onboardinglinked="" routerlinkactive="active-link" title="GUADAGNA PUNTI" name="Guadagni punti ogni volta che leggi un articolo, guardi un video, partecipi a quiz e sondaggi o condividi contenuti." href="#">GUADAGNA PUNTI</a>
		<a _ngcontent-c0="" class="nav-link title" onboardinglinked="" routerlink="gallery" routerlinkactive="active-link" title="GALLERY" name="Sfoglia la gallery e rivivi con noi tutti gli eventi passati." href="#">GALLERY</a>
		<a _ngcontent-c0="" class="nav-link title" onboardinglinked="" routerlinkactive="active-link" title="INVITA AMICI" name="Condividi con i tuoi amici fumatori adulti il tuo codice personale e invitali a provare IQOS con il supporto di un Coach." href="#">INVITA AMICI</a>
		<a _ngcontent-c0="" class="nav-link title" onboardinglinked="" routerlinkactive="active-link" title="ACQUISTA" name="Acquista prodotti IQOS per guadagnare punti extra." href="#">ACQUISTA</a>
		<a _ngcontent-c0="" class="nav-link title" onboardinglinked="" routerlink="rewards" routerlinkactive="active-link" title="PREMI" name="Sfoglia il catalogo, scegli il tuo premio e aggiungilo al carrello." href="#">PREMI</a>
		<a _ngcontent-c0="" class="nav-link title last" id="test1" onboardinglinked="" routerlink="profile" routerlinkactive="active-link" title="PROFILO" name="Verifica il tuo saldo di IQOS Money e Punti Loyalty. Puoi guadagnare più punti rendendo il tuo profilo completo." href="#">PROFILO</a>
    <a _ngcontent-c0="" class="nav-link title" disabled="" hidden="">        </a>
		<a _ngcontent-c0="" class="nav-link title" disabled="" hidden="">        </a>
		<a _ngcontent-c0="" class="nav-link title" disabled="" hidden="">        </a>
		<span _ngcontent-c0="" class="horizontal-divider"></span>
		<button _ngcontent-c0="" class="btn btn-outline-inv nav-notifications-container" id="notification-dropdown">
			<div _ngcontent-c0="" class="nav-image">
				<img _ngcontent-c0="" src="/content/dam/academyws/bell.png">
				<!---->
				<span _ngcontent-c0="" class="badge badge-light"></span>

			</div>
		</button>

	</div>
</div>
<div _ngcontent-c0="" class="menu-separator"></div>
<router-outlet _ngcontent-c0=""></router-outlet>




