<!--/*
    Copyright 2017 Adobe Systems Incorporated

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
    <sly data-sly-call="${clientlib.js @ categories='academyws.base'}"/>
</sly>

<div _ngcontent-c0="" class="iqos-footer">
    <app-iqos-footer _ngcontent-c0="" _nghost-c1="">
        <footer _ngcontent-c1="" class="tygh-footer" id="footer">
            <div _ngcontent-c1="" class="container-fluid  ">
                <div _ngcontent-c1="" class="row-fluid">
                    <div _ngcontent-c1="" class="span12 ">
                        <div _ngcontent-c1="" class="row-fluid">
                            <div _ngcontent-c1="" class="span6 ">
                                <div _ngcontent-c1="" class="footer-logo-svg"><a _ngcontent-c1="" href="/"><svg _ngcontent-c1="" height="100%" id="iqos-svg-logo" viewBox="0 0 1280.2 389.5" width="100%">
                                    <path _ngcontent-c1="" class="path path-dark" d="M21,53.7c-11.7,0-21,9.9-21,21.6l0,0v238.3c0,11.7,9.3,21,21,21s21-9.3,21-21l0,0V75.3C42.6,63.5,33.3,53.7,21,53.7C21.6,53.7,21,53.7,21,53.7z"></path>
                                    <path _ngcontent-c1="" class="path path-dark"
                                          d="M469.9,305.6V153.7c0-53.7-43.8-97.6-97.6-97.6H145.1c-17.3,0-30.9,13.6-30.9,30.9v150c0,53.7,43.8,97.6,97.6,97.6h227.8L489,384c8.6,8,22.2,6.8,30.3-1.9c6.8-8,6.8-19.8,0-27.8L469.9,305.6zM156.8,237.7V98.7h215.5c30.3,0,55,24.7,55,55V292H211.8C181.5,292,156.8,267.9,156.8,237.7L156.8,237.7z">
                                    </path>
                                    <path _ngcontent-c1="" class="path path-dark"
                                          d="M794.1,54.3h-147c-58.7,0-105.6,47.5-106.2,106.2V229c0,58.7,47.5,105.6,106.2,106.2h147c58.7,0,105.6-47.5,106.2-106.2v-69.2C899.6,101.2,852.7,54.3,794.1,54.3zM857,228.4c0,34.6-28.4,63-63,63h-147c-34.6,0-63-28.4-63-63v-68.5c0-34.6,28.4-63,63-63h147c34.6,0,63,28.4,63,63V228.4z">
                                    </path>
                                    <path _ngcontent-c1="" class="path path-dark"
                                          d="M1210.2,174.1h-3.7h-171c-18.5,0-33.3-17.3-33.3-38.9v-0.6c0-21.6,14.8-38.9,33.3-38.9h172.9c13,0,31.5,8,31.5,23.5c0,11.1,9.3,20.4,20.4,20.4c11.1,0,20.4-9.3,20.4-20.4l0,0c0-39.5-37.7-64.2-72.2-64.2h-172.9c-40.8,0-74.1,35.8-74.1,79v0.6c0,42,30.9,76.6,69.8,79h3.7h171c18.5,0,33.3,17.3,33.3,38.9v0.6c0,21.6-14.8,38.9-33.3,38.9H1033c-14.8,0-31.5-10.5-31.5-23.5c0-11.1-9.3-20.4-20.4-20.4c-11.1,0-20.4,9.3-20.4,20.4c0,38.3,37,64.2,72.2,64.2h172.9c40.8,0,74.1-35.8,74.1-79v-0.6C1280,211.1,1249.1,176.5,1210.2,174.1z">
                                    </path>
                                </svg></a></div>
                                <p _ngcontent-c1="" class="copyright">© 2019 Philip Morris Products SA.</p>
                            </div>
                            <div _ngcontent-c1="" class="span6 footer-right-items">
                                <div _ngcontent-c1="" id="footer-nav">
                                    <ul _ngcontent-c1="" class="main-nav">
                                        <li _ngcontent-c1="">
                                            <h6 _ngcontent-c1="">Link Utili </h6>
                                            <ul _ngcontent-c1="" class="text-links li-list">
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/store-locator/" target="_parent"> Trova IQOS</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://iqositalia.it/prova-iqos/" target="_blank"> Prova gratis</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="#" target="_blank"> Presenta un amico</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="#" target="_blank"> PMI.com</a></li>
                                            </ul>
                                        </li>
                                        <li _ngcontent-c1="">
                                            <h6 _ngcontent-c1="">Aiuto </h6>
                                            <ul _ngcontent-c1="" class="text-links li-list">
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/contattaci/" target="_parent"> Contattaci</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/assistenza/iqos/3-kit/" target="_parent"> Assistenza</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/faq/" target="_parent"> FAQ</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://iqositalia.it/assistenza/kit/cosa-copre-parte-la-garanzia/?_ga=2.38072486.427374311.1561360080-417155321.1545222122" target="_blank">
                                                    Garanzia</a></li>
                                            </ul>
                                        </li>
                                        <li _ngcontent-c1="">
                                            <h6 _ngcontent-c1="">Info </h6>
                                            <ul _ngcontent-c1="" class="text-links li-list">
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/privacy-policy/" target="_parent"> Privacy Policy</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/condizioni-d-uso/" target="_parent"> Condizioni d'uso</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/condizioni-generali-vendita/" target="_parent"> Condizioni generali di vendita</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/informativa-sui-cookie/" target="_parent"> Cookie Policy</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/licenza-duso-di-contenuto-generato-dallutente/" target="_parent"> Licenza d'uso di contenuto generato dall'utente</a></li>
                                                <li _ngcontent-c1=""><a _ngcontent-c1="" href="https://it.iqos.com/it/iqosclub/regolamento/" target="_parent"> Regolamento IQOS Club</a></li>
                                            </ul>
                                        </li>
                                        <li _ngcontent-c1="" class="footer-icons">
                                            <h6 _ngcontent-c1="">Seguici su </h6>
                                            <ul _ngcontent-c1="" class="text-links li-list">
                                                <li _ngcontent-c1="" class="footer-icon footer-icon-instagram"><a _ngcontent-c1="" href="#" target="_blank"><span _ngcontent-c1=""></span></a></li>
                                                <li _ngcontent-c1="" class="footer-icon footer-icon-facebook"><a _ngcontent-c1="" href="#" target="_blank"><span _ngcontent-c1=""></span></a></li>
                                                <li _ngcontent-c1="" class="footer-icon footer-icon-twitter"><a _ngcontent-c1="" href="#" target="_blank"><span _ngcontent-c1=""></span></a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </app-iqos-footer>
</div>

