<div _ngcontent-c0="" class="menu-separator"></div>
<router-outlet _ngcontent-c0=""></router-outlet>
<div _ngcontent-c4="" class="row row-tab" id="rewards-container">
<div _ngcontent-c4="" class="row-header d-flex flex-column"
	 data-sly-use.title="com.adobe.cq.wcm.core.components.models.Title"
	 data-sly-use.template="core/wcm/components/commons/v1/templates.html"
	 data-sly-test.text="${title.text}">
	<div _ngcontent-c4="" class="header-title"> ${text} </div>
	<div _ngcontent-c4="" class="underline-title"> </div>
	<div data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
		 data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
		 data-sly-test.text="${textModel.text}"_ngcontent-c4="" class="header-description"> ${text @ context = textModel.isRichText ? 'html' : 'text'} </div>
</div>
</div>