<sly data-sly-resource="${'contexthub' @ resourceType='granite/contexthub/components/contexthub'}"/>
<style data-savepage-href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css"></style>

<div _ngcontent-c4="" class="container-fluid" style="overflow-y: scroll; display: inline-block;">
	<!-- AEM -->
	<div _ngcontent-c4="" class="header-container">
		<div _ngcontent-c4="" data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" class="d-flex row-main h-100 hero-background" style="background: linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('${image.src @ context = 'uri'}');background-position: center">
			<div _ngcontent-c4="" class="col-12 h-100 main-col p-0">
				<div _ngcontent-c4="" class="row w-100 row-user-level m-0">
					<div _ngcontent-c4="" class="col-user-level">
						<div _ngcontent-c4="" class="header-alt-level" >
							<img _ngcontent-c0="" src="/content/dam/academyws/silver.png" style="background-image: url('silver.png'); height: calc(2.75rem); margin-bottom: 1rem; ">


						</div>
						<div _ngcontent-c4="" class="user-points color-gold">550 Punti</div>
					</div>
					<div _ngcontent-c4="" class="header-main-text"> Ciao alessio giorgini, <br _ngcontent-c4=""> è bello riaverti qui! </div>
				</div>

				<div _ngcontent-c4="" class="row w-100 row-user-points">
					<div _ngcontent-c4="" class="header-cap-text">
						<div _ngcontent-c4="">Sei pronto a guadagnare più punti oggi?</div>
					</div>
					<div _ngcontent-c4="" class="underline-title"></div>
				</div>

				<div _ngcontent-c4="" class="row w-100 row-point-hints">
					<!---->
					<div _ngcontent-c4="" class="col col-12 col-hint-boxes">
						<!---->
						<div _ngcontent-c4="">
							<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
								<div class="loyalty-tab-card">
									<h1 class="color-gold"></h1>
									<h2>Leggi un articolo</h2>
									<div class="row button-action-row">
										<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Vai agli articoli">
											<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
												<span class="btn-text">Vai agli articoli</span>
											</button>
										</icon-action-button>
									</div>
								</div>
							</icon-loyalty-tab-card>
						</div>
						<div _ngcontent-c4="">
							<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
								<div class="loyalty-tab-card">
									<h1 class="color-gold"></h1>
									<h2>Condividi il tuo codice personale con un amico fumatore adulto</h2>
									<div class="row button-action-row">
										<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Inizia a condividere">
											<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
												<span class="btn-text">Inizia a condividere</span>
											</button>
										</icon-action-button>
									</div>
								</div>
							</icon-loyalty-tab-card>
						</div>
						<div _ngcontent-c4="">
							<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
								<div class="loyalty-tab-card">
									<h1 class="color-gold"></h1>
									<h2>Completa la survey</h2>
									<div class="row button-action-row">
										<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Vai ai questionari">
											<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
												<span class="btn-text">Vai ai questionari</span>
											</button>
										</icon-action-button>
									</div>
								</div>
							</icon-loyalty-tab-card>
						</div>
					</div>
					<!---->
				</div>
			</div>
		</div>

	</div>
</div>
</div>
<script type="text/javascript" resources="/etc.clientlibs/academyws/clientlibs/clientlib-base.js"></script>
