<button type="button" class="btn btn-loyalty btn-loyalty-how-to-arrow text-uppercase hydrated" style="width: 30%;">
	<span class="btn-text">MOSTRA TUTTO</span>
	<img class="btn-icon" src="src/images/arrow.png" alt="">
</button>
