<div _ngcontent-c4="" class="code-container">
	<div _ngcontent-c4="" class="code-container-item-container count">
		<div _ngcontent-c4="" class="code-count">0</div>
		<div _ngcontent-c4="" class="code-count-label">AMICI HANNO<br>SCELTO IQOS GRAZIE A TE</div>
	</div>
	<div _ngcontent-c4="" class="code-container-item-container code">
		<div _ngcontent-c4="" class="code-container-item-container-code">
			<div _ngcontent-c4="" class="code-label">MGM0F22R7EEV</div>
		</div>
	</div>
	<div _ngcontent-c4="" class="circle top"></div>
	<div _ngcontent-c4="" class="circle bottom"></div>
</div>
