<div _ngcontent-c4="" class="header-container">
	<div _ngcontent-c4="" class="hero-background" style=""></div>
	<div _ngcontent-c4="" class="d-flex row-main h-100">
		<div _ngcontent-c4="" class="col-12 h-100 main-col p-0">
			<div _ngcontent-c4="" class="row w-100 row-user-level m-0">
				<div _ngcontent-c4="" class="col-user-level">
					<div _ngcontent-c4="" class="header-alt-level"
					 style="background-image: /*savepage-url=https://www.mystartapp.org/pub/resources/d796e3b59413f680c168b5bee356d6489e49c5409dbd4efee71493b73637cf258667e7c5ae01dc4b072dd6dd525807d282eebc97af45f78819fad5be33585a72/logo-silver-white2x.png*/ var(--savepage-url-25);">
					</div>
					<div _ngcontent-c4="" class="user-points color-gold">550 Punti</div>
				</div>
				<div _ngcontent-c4="" class="header-main-text"> Ciao alessio giorgini, <br _ngcontent-c4=""> è bello riaverti qui! </div>
			</div>
			<!---->
			<div _ngcontent-c4="" class="row w-100 row-user-points">
				<div _ngcontent-c4="" class="header-cap-text">
					<div _ngcontent-c4="">Sei pronto a guadagnare più punti oggi?</div>
				</div>
				<div _ngcontent-c4="" class="underline-title"></div>
			</div>
			<div _ngcontent-c4="" class="row w-100 row-point-hints">
				<!---->
				<div _ngcontent-c4="" class="col col-12 col-hint-boxes">
					<!---->
					<div _ngcontent-c4="">
						<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
							<div class="loyalty-tab-card">
								<h1 class="color-gold"></h1>
								<h2>Leggi un articolo</h2>
								<div class="row button-action-row">
									<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Vai agli articoli">
										<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
											<span class="btn-text">Vai agli articoli</span>
										</button>
									</icon-action-button>
								</div>
							</div>
						</icon-loyalty-tab-card>
					</div>
					<div _ngcontent-c4="">
						<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
							<div class="loyalty-tab-card">
								<h1 class="color-gold"></h1>
								<h2>Condividi il tuo codice personale con un amico fumatore adulto</h2>
								<div class="row button-action-row">
									<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Inizia a condividere">
										<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
											<span class="btn-text">Inizia a condividere</span>
										</button>
									</icon-action-button>
								</div>
							</div>
						</icon-loyalty-tab-card>
					</div>
					<div _ngcontent-c4="">
						<icon-loyalty-tab-card _ngcontent-c4="" class="hydrated">
							<div class="loyalty-tab-card">
								<h1 class="color-gold"></h1>
								<h2>Completa la survey</h2>
								<div class="row button-action-row">
									<icon-action-button class="btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated" action_id="117" action_limit="Infinity" enabled="" label="Vai ai questionari">
										<button type="button" class="btn btn-loyalty btn-loyalty-white-outline text-uppercase btn-loyalty-tab hydrated">
											<span class="btn-text">Vai ai questionari</span>
										</button>
									</icon-action-button>
								</div>
							</div>
						</icon-loyalty-tab-card>
					</div>
				</div>
				<!---->
			</div>
		</div>
	</div>
</div>
