<icon-card class="loyalty-card loyalty-reward-card loyalty-reward-catalog-card hydrated" type="0" can-change="" item_id="D6E16797-EEDA-4DCC-83CC-A80318DC9F06" item_type_id="107">
	<div class="card card-flat card-vertical">
		<icon-card-image-top slot="header" class="hydrated">
			<div class="card-header">
				<div class="card-img-top" style="background: var(--savepage-url-26);">
				</div>
			</div>
		</icon-card-image-top>
		<div class="card-body-footer undefined" style="padding-bottom: 52px !important;">
			<icon-card-body slot="body" class="hydrated">
				<div class="card-body hydrated">
					<div class="card-description">IQOS KIT</div>
					<div class="card-sub-description"></div>
					<div class="card-title">IQOS 3 DUO</div>
					<div class="card-subtitle"></div>
					<div class="card-full-description">IQOS 3 DUO è il nostro dispositivo più avanzato ed elegante.&nbsp;Ricarica rapida dell’holder e fino a due utilizzi consecutivi con una sola
						ricarica.&nbsp;Puoi personalizzarlo in centinaia di modi con gli accessori originali IQOS.&nbsp;È possibile riscattare un unico dispositivo IQOS 3 DUO per ciascun membro di IQOS
						Club.</div>
					<div class="card-note">
						<span style="color:#AE1826">11.000 punti</span>
					</div>
					<div class="top-right-text"></div>
				</div>
			</icon-card-body>
			<icon-card-footer slot="footer" class="hydrated">
				<div class="card-footer">
					<div class="container-fluid container-footer p-0">
						<div class="row d-flex p-0" slot="footer-body">
							<div class="col col-12 col-button" style="height:0">
								<icon-action-button class="btn-loyalty text-uppercase btn-loyalty-red-outline-alt hydrated" action_id="108" action_limit="Infinity" action_name="ACTION_BUTTON_CLICK" enabled="" label="Ti mancano 10.450 punti">
								</icon-action-button>
								<button type="button" class="btn btn-loyalty text-uppercase btn-loyalty-red-outline-alt hydrated">
									<span class="btn-text">Ti mancano 10.450 punti</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</icon-card-footer>
		</div>
	</div>
</icon-card>
