<div _ngcontent-c4="" class="level-benefit-card">
	<div _ngcontent-c4="" class="level-header">
		<icon-level-card _ngcontent-c4="" level="0" class="hydrated">
			<div class="icon-level">
				<img alt="" class="image-level" style="height: 100%;width: 100%;position: relative;display: inline-block;" src="src/images/silver_card.png">
				<div class="caption">
					<span class="text-point"> </span>
				</div>
			</div>
		</icon-level-card>
	</div>
	<div _ngcontent-c4="" class="content px-2">
		<div _ngcontent-c4="" class="text w-90 pt-5">
			<!---->
			<div _ngcontent-c4="" class="text-inner-line">
				<div _ngcontent-c4="" class="gold-dot"></div><span _ngcontent-c4="">Spedizione gratuita sul primo ordine</span>
			</div>
			<div _ngcontent-c4="" class="text-inner-line">
				<div _ngcontent-c4="" class="gold-dot"></div><span _ngcontent-c4="">Assistenza internazionale</span>
			</div>
			<div _ngcontent-c4="" class="text-inner-line">
				<div _ngcontent-c4="" class="gold-dot"></div><span _ngcontent-c4="">Servizio di consegna espressa nelle maggiori città italiane</span>
			</div>
		</div>
	</div>
</div>
