.cmp-image{
    width: 100%;
    height: inherit;
}
.image-container{
    width: 100%;
    height: inherit;
}
.cmp-image__image{
    width: 100%;
    height: inherit;
    object-fit: cover;
}
#boxstyle{
    padding-bottom: 52px !important;
    width: 90% !important;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    margin-top: -10%;
    border-radius: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #f7f7f7;
    z-index: 99;
    display: -ms-flexbox !important;
    display: flex !important;
    visibility: inherit;
}
#notification-dropdown{
    background:none;
}