<icon-loyalty-reward-overview-card class="hydrated">
	<icon-card class="loyalty-card loyalty-reward-card loyalty-reward-catalog-card hydrated" type="0" can-change="" item_id="D6E16797-EEDA-4DCC-83CC-A80318DC9F06" item_type_id="107">
		<div class="card card-flat card-vertical" data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser" data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
			<icon-card-image-top slot="header" class="hydrated">
				<div class="card-header" data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image" data-sly-test="${image.src}" data-cmp-is="image" data-cmp-lazy="${image.lazyEnabled}" data-cmp-src="${image.srcUriTemplate ? image.srcUriTemplate : image.src}" data-asset="${image.fileReference}" data-asset-id="${image.uuid}" data-title="${image.title || image.alt}" class="cmp-image${!wcmmode.disabled ? ' cq-dd-image' : ''}">
					<div class="image-container">
						<img class="card-img-top" src="${image.src}" class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="${image.alt || true}" title="${image.displayPopupTitle && image.title}" />
					</div>
				</div>
			</icon-card-image-top>
			<div class="card-body-footer undefined" id="boxstyle" style="padding-bottom: 52px !important;">
				<icon-card-body slot="body" class="hydrated">
					<div class="card-body hydrated">
						<div class="card-description" data-sly-test.category="${teaser.category}">${category @ context = textfield.isRichText ? 'html' : 'text'}</div>
						<div class="card-title" data-sly-test.title="${teaser.title}">${title}</div>
						<div class="card-full-description" data-sly-test.description="${teaser.description}">${description}</div>
						<div class="card-note" data-sly-test.value="${teaser.title}" style="color:#AE1826">${value}</div>
					</div>
				</icon-card-body>
				<icon-card-footer slot="footer" class="hydrated">
					<div class="card-footer">
						<div class="container-fluid container-footer p-0">
							<div class="row d-flex p-0" slot="footer-body">
								<div class="col col-12 col-button" style="height:0">
									<icon-action-button class="btn-loyalty text-uppercase btn-loyalty-red-outline-alt hydrated" action_id="108" action_limit="Infinity" action_name="ACTION_BUTTON_CLICK" enabled="" label="Ti mancano 10.450 punti"></icon-action-button>
									<button type="button" class="btn btn-loyalty text-uppercase btn-loyalty-red-outline-alt hydrated">
										<span class="btn-text">Ti mancano 10.450 punti</span>
									</button>
								</div>
							</div>
						</div>
					</div>
				</icon-card-footer>
			</div>
		</div>
	</icon-card>
</icon-loyalty-reward-overview-card>